@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Oswald&family=Poppins:wght@400;500;600&family=Roboto+Condensed&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 80px;
}
footer{ 
    color: white;
    background-color: rgb(1, 1, 31);
}
/* -------------------------Common CSS------------------------- */

.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.navigation li{
    list-style: none;
    margin: 10px;

}
.navigation li a, .fas{
    text-decoration: none;
 color: black;
 margin: 10px;
 padding: 10px;
 font-weight: 500px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    margin-right: 16px;
}
.explore{
    background-color: #E02C6D ;
    outline: 0;
    border: none;
    border-radius: 70px;
    margin: 16px 0;
    padding: 15px 20px;
    color: white;
    cursor: pointer;
}
button .fas{
    color: white;
    margin: 0;
    padding: 0;
}
.about{
    margin-left:80px ;
    margin-right: 80px;
}
.about h1{
    font-size: 40px;
}
.about p{
    margin: 10px;
}
.bg{
    background-image: url(./images/Circle\ design.svg);
    background-size: cover;
}
.about img{
    width: 100%;
}
.logos{
    border-top: 2px solid rgb(216, 200, 200);
    border-bottom: 2px  solid rgb(216, 200, 200);
}
.logos img{
    text-align: center;
    margin: 20px;
    padding: 10px;
    
}
/* ------------------Collection------------------- */

.collection h2{
text-align: center;
margin-bottom: 50px;
}
.card h3{
margin-left: 0;
margin-top: 20px;
margin-bottom: 20px;
font-weight: 500;
}
.stars{
    display: flex;
    text-align: center;
}
.stars p{
    margin-left: 20px;
    color: grey
}
.stars .fas{
    margin-top: 0;
    padding: 0;
    color: orange;
}
.card{
    border-radius: 10px;
    width: 350px;
    padding: 30px;
    margin: 0 auto;
    box-shadow: 10px 10px 10px 10px rgba(167, 159, 159, 0.342);
}

.card p{
color: lightslategrey;
margin-top: 5px;
}
.cards{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    margin: 100px;
}
.see-more{
    text-align: right;
    margin-top: 0;
    margin-right: 100px;
    color: #E02C6D;
}
.see-more .fas{
    color: #E02C6D;
}
/* -----------------footer------------------------------- */

.icons{
    display: flex;
    justify-content: center;
    text-align: center;
}
.icon{
    background-color: rgba(255, 255, 255, 0.208);
    border-radius: 80px;
    margin: 5px;
    padding: 5px;
}
.icon .fas{
    margin: 0;
    padding: 0;
    color: white;
}
.foot{
    padding: 20px;
    text-align: center;
}